<!DOCTYPE html>
<html>
    <head>
        <style>
            .error { color: red; }
        </style>
    </head>
    <body>
        <h1>Signup</h1>
        <form action="/signup" method="post" >
            <label for="user-name">Username:</label>
            <input id="user-name" type="text" name="username" value="" />
            <span class='error'>{{username_error}}</span>
            <br />
            <br />
            <lable for="user_password">Password:</lable>
            <input id ="user_password" type="password" name="user_password" value="{{password}}"  />
            <span class='error'>{{password_error}}</span>               
            <br />
            <br />
            <label for="verify_password">Verify Password:</label>
            <input id="verify_password" type="password" name="verify_password" 
                pattern ="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required
                value="{{verify_password}}" />
            <span class='error'>{{verify_error}}</span>                
            <br />
            <br /> 
            <label for="email">Email(optional)</label>
            <input id="email" type="text" name="email" value="" />
            <span class='error'>{{email_error}}</span>
            <br />
            <br ?>
            <input type="submit" value="Sumbit" />
        </form>
    </body>
</html>